html {
    font-size: 14px;
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 20px
}

@media (max-width: 768px) {
    html {
        font-size: 16px;
        margin-right: 0px;
        margin-left: 0px;
    }
}

html {
    
    position: relative;
    min-height: 100%;
    background-color: #000;
}

body {
    margin-bottom: 60px;
    background-color: antiquewhite;
}
input {
    margin-bottom: 10px;
}
select {
    margin-bottom: 10px;
}
header {
    
    background-color: #EEF5FF;
    color: white;
}
