@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="row shadow-lg">
    <div class="col-md-4 shadow-lg p-3">
        <section class="shadow-lg p-3">
            <form id="account" method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="padding-bottom: 5px">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.UserName" class="form-label"></label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating" style="padding-bottom: 5px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox" style="padding: 5px">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="btn btn-outline-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
    <div class=" col-md-8 shadow-lg p-3">
        <h1 class="shadow-lg p-3 text-center text-muted"><em><i class="fa-solid fa-hand-holding-dollar"></i> INFOCAST SYSTEMS</em> - <strong><em>Billing</em></strong></h1>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
